.dropdown-section {
    .nav-tab-wrapper {

        .nav-item {
            width: 50%;

            .nav-link {
                width: 100%;
                border: none;
                border-radius: 0;
                background: #474747;
                border-bottom: 5px solid #474747;
                color: #fff;

                &.active {
                    background: #3a3a3a;
                    border-bottom: 5px solid #bbbbbb;
                    font-weight: bold;
                }
            }
        }
    }

    .accordion-wrapper {


        .accordion-item {
            border: 1px solid #393939;

            .main-header {
                background: #000;

                .accordion-button {
                    background: #14805e;
                    border-radius: 0;
                    color: #fff;
                    box-shadow: none;

                    &::after {
                        background-image: url('../images/arrow.png');
                    }
                }
            }
        }

        .accordion-main-body {
            background: #393939;

            .accordion-item {
                border: 1px solid #393939;
                background: #9b9b9b;
            }

            .sub-header {

                .accordion-button {
                    background: #474747;
                    color: #fff;
                    border-radius: 0;

                    img {
                        width: 28px;
                        height: 17px;
                    }

                    &:focus {
                        box-shadow: none;
                        border: none;
                    }

                    &::after {
                        background-image: url('../images/arrow.png');
                    }
                }

            }

            .sub-body {
                background: #9b9b9b;
                padding: 0;

                p {
                    padding: 10px 20px;
                    color: #fff;
                }

                ul {
                    background: #9b9b9b;
                    padding: 0;

                    li {
                        border-bottom: 1px solid #7d7d7d;

                        a {
                            display: block;
                            padding: 8px 20px;
                            margin: 2px 0px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}