.dropdown-section-page-four {
    .back-head {
        background: #585858;
        padding: 0 20px 0 10px;

        .image {
            padding: 10px;
            margin-right: 10px;
            border-right: 1px solid #9696965b;

            .arrow-na {
                height: 10px;
                width: 15px;
                transform: rotate(90deg);
            }
        }

        a {
            color: #fff;
            font-size: 12px;
        }

    }

    .arrow {
        height: 25px;
        width: 30px;
        position: absolute;
        right: 0;
        top: 10px;
        background: rgba(0, 0, 0, 0.445);
        padding: 5px;
        transform: rotate(-90deg);
    }

    .match-banner {
        background: #474747;
        color: #fff;
        border-bottom: 1px solid #bbbbbb3a;
        padding: 10px 0;

        h6 {
            font-size: 14px;

            span {
                color: #14805e;
                font-size: 18px;
            }
        }

        p {
            font-size: 12px;
            font-weight: bold;
        }

        span {
            font-size: 12px;
        }
    }

    .nav-tab-wrapper {
        background: #474747;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        height: 100%;

        .nav-item {
            .nav-link {
                width: 100%;
                border: none;
                border-radius: 0;
                background: #474747;
                border-bottom: 5px solid #474747;
                color: #fff;
                font-size: 14px;

                &.active {
                    background: #3a3a3a;
                    border-bottom: 5px solid #bbbbbb;
                    font-weight: bold;
                }
            }
        }
    }

    .accordion-wrapper {
        .accordion-item {
            background: #393939;
            border: none !important;
            border-bottom: 1px solid #393939 !important;
            padding: 0 !important;
            margin: 0 !important;

            .main-header {
                background: #000;

                .accordion-button {
                    background: #14805e;
                    border-radius: 0;
                    color: #fff;
                    box-shadow: none;
                    padding: 14px 20px;

                    &:not(.collapsed) {
                        box-shadow: none !important;
                    }

                    &::after {
                        background-image: url('../images/arrow.png');
                    }
                }
            }
        }

        .accordion-main-body {
            background: #393939;

            // .accordion-item {
            //     border: none !important;
            //     border: 1px solid #393939 !important;
            //     // background: #9b9b9b;
            //     background: #474747;
            // }

            .rating-item {
                padding: 10px 20px;
                background: #474747;
                border-bottom: 1px solid #5c5c5c;

                .title {
                    color: #fff;
                }

                .rating {
                    color: #ffcc00;
                }
            }

            .sub-header {
                background: #474747;

                .accordion-button {
                    background: #474747;
                    color: #fff;
                    border-radius: 0;
                    padding: 12px 20px;
                    box-shadow: none;

                    &:not(.collapsed) {
                        box-shadow: none !important;
                    }

                    img {
                        width: 28px;
                        height: 17px;
                    }

                    &:focus {
                        box-shadow: none;
                        border: none;
                    }

                    &::after {
                        background-image: url('../images/arrow.png');
                    }
                }

            }

            .sub-body {
                background: #9b9b9b;
                padding: 0;

                p {
                    padding: 10px 20px;
                    color: #fff;
                }

                ul {
                    background: #9b9b9b;
                    padding: 0;

                    li {
                        border-bottom: 1px solid #666666;

                        a {
                            display: block;
                            padding: 8px 20px;
                            margin: 2px 0px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }



    ::-webkit-scrollbar {
        width: 1px;
        height: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #6d6d6d;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(180, 180, 180);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(128, 126, 21);
    }
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}