/*=== abstracts css start === */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.container {
  max-width: 768px;
}

@media (min-width: 768px) {
  .w-md-50 {
    width: 50%;
  }
}
/*===// end of base css === */
/*=== layouts css start === */
/*===// end of layouts css === */
/*=== components css start === */
.dropdown-section .nav-tab-wrapper .nav-item {
  width: 50%;
}
.dropdown-section .nav-tab-wrapper .nav-item .nav-link {
  width: 100%;
  border: none;
  border-radius: 0;
  background: #474747;
  border-bottom: 5px solid #474747;
  color: #fff;
}
.dropdown-section .nav-tab-wrapper .nav-item .nav-link.active {
  background: #3a3a3a;
  border-bottom: 5px solid #bbbbbb;
  font-weight: bold;
}
.dropdown-section .accordion-wrapper .swiper {
  background: rgb(15, 77, 7);
}
.dropdown-section .accordion-wrapper .swiper .swiper-slide {
  text-align: center;
}
.dropdown-section .accordion-wrapper .swiper .swiper-slide .slider-card {
  background: #474747;
  border: 1px solid #393939;
  height: 100%;
  padding: 5px 0;
}
.dropdown-section .accordion-wrapper .swiper .swiper-slide .slider-card .image {
  height: 50px;
  padding-bottom: 5px;
}
.dropdown-section .accordion-wrapper .swiper .swiper-slide .slider-card .image img {
  height: 100%;
  max-width: 60px;
}
.dropdown-section .accordion-wrapper .swiper .swiper-slide .slider-card p {
  font-size: 14px;
  color: #fff;
}
.dropdown-section .accordion-wrapper .swiper .swiper-button-next::after {
  font-size: 20px;
  font-weight: bold;
}
.dropdown-section .accordion-wrapper .swiper .swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}
.dropdown-section .accordion-wrapper .swiper .swiper-button-next {
  color: #fff;
}
.dropdown-section .accordion-wrapper .swiper .swiper-button-prev {
  color: #fff;
}
.dropdown-section .accordion-wrapper .accordion-item {
  border: 1px solid #393939;
}
.dropdown-section .accordion-wrapper .accordion-item .main-header {
  background: #000;
}
.dropdown-section .accordion-wrapper .accordion-item .main-header .accordion-button {
  background: #14805e;
  border-radius: 0;
  color: #fff;
  box-shadow: none;
  padding: 14px 20px;
}
.dropdown-section .accordion-wrapper .accordion-item .main-header .accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.dropdown-section .accordion-wrapper .accordion-item .main-header .accordion-button::after {
  background-image: url("../images/arrow.png");
}
.dropdown-section .accordion-wrapper .accordion-main-body {
  background: #393939;
}
.dropdown-section .accordion-wrapper .accordion-main-body .accordion-item {
  border: 1px solid #393939;
  background: #9b9b9b;
}
.dropdown-section .accordion-wrapper .accordion-main-body .sub-header .accordion-button {
  background: #474747;
  color: #fff;
  border-radius: 0;
  padding: 12px 20px;
  box-shadow: none;
}
.dropdown-section .accordion-wrapper .accordion-main-body .sub-header .accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.dropdown-section .accordion-wrapper .accordion-main-body .sub-header .accordion-button img {
  width: 28px;
  height: 17px;
}
.dropdown-section .accordion-wrapper .accordion-main-body .sub-header .accordion-button:focus {
  box-shadow: none;
  border: none;
}
.dropdown-section .accordion-wrapper .accordion-main-body .sub-header .accordion-button::after {
  background-image: url("../images/arrow.png");
}
.dropdown-section .accordion-wrapper .accordion-main-body .sub-body {
  background: #9b9b9b;
  padding: 0;
}
.dropdown-section .accordion-wrapper .accordion-main-body .sub-body p {
  padding: 10px 20px;
  color: #fff;
}
.dropdown-section .accordion-wrapper .accordion-main-body .sub-body ul {
  background: #9b9b9b;
  padding: 0;
}
.dropdown-section .accordion-wrapper .accordion-main-body .sub-body ul li {
  border-bottom: 1px solid #666666;
}
.dropdown-section .accordion-wrapper .accordion-main-body .sub-body ul li a {
  display: block;
  padding: 8px 20px;
  margin: 2px 0px;
  color: #fff;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */